<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
  
  
  
  .fa{
    transition: transform .3s;
  }
  .fa:hover{
    transform: scale(2,2);
  }
</style>
<body>
  {% include "quiz/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <p class="lead">Sign up if you haven't already.</p>
    <p><strong> Start Your Journey Here:</strong></p>
    <a href="/student/studentsignup" name="button" class="btn btn-lg btn-info" style="padding-right: 35px;border-radius: 1.5rem;"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
    
    <br><br><br>
  </div>  
</section>
  {% include "quiz/footer.html" %}


</body>

</html>
